@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.home-details{
    padding: 0 12%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.home-title{
    margin-top: 50px;
}
.home-title h1{
    font-weight: 600;
}
.home-title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.home-title span{
   margin: 0px 20px 0px 5px;
}
.home-title i{
    color: #ff5361;
    font-size: 14px;
}
.gallergy{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .' 'first first . .';
    margin: 20px 0;
}
.gallergy div img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.gallergy-img-1{
    grid-area: first;
}
.small-details{
    display: flex;
}
.small-details img{
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}
.line{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
}
.check-form{
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}
.check-form label{
    display: block;
}
.check-form div{
    padding: 20px;
}
.check-form input{
    background: transparent;
    border: 0;
    outline: none;
}
.check-form button{
    background: #3b79c9;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
}
.guest-field{
    flex: 1;
}
.details-list{
    list-style: none;
    margin: 50px 0;
}
.details-list li{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}
.details-list li span{
    display: block;
    font-weight: 400;
    font-size: 16px;
}
.details-list li i{
    position: absolute;
    top: 5px;
    left: -40px;
}
.home-desc{
    max-width: 820px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
.map{
    margin: 50px 0;
}
.map iframe{
    width: 100%;
    margin-bottom: 30px;
}
.map h3{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}
.map b{
    display: block;
    margin-bottom: 16px;
}
.host{
    display: flex;
    align-items: center;
}
.host img{
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}
.host h2{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
}
.host i{
   color: #ff5361; 
}
.contact-host{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #3b79c9;
    border-radius: 8px;
}


@media only screen and (max-width: 700px){
    .home-details{
        margin-top: 0px;
    }
    .row p{
        margin-top: 10px;
    }
    .gallergy{
        grid-template-areas: 'first first' '. .' '. .';
    }
    .small-details h2{
        font-size: 20px;
        margin-top: 24px;
    }
    .small-details h4{
        text-align: left;
        margin: 10px 0;
        font-size: 18px;
    }
    .check-form{
        padding: 10px 30px;
    }
    .check-form div{
        padding: 20px 0;
        width: 100%;
    }
    .check-form input{
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding-bottom: 5px;
    }
    .check-form button{
        margin-top: 10px;
        font-size: 14px;
        margin-bottom: 15px;
        border-radius: 4px;
    }
    .host{
        display: block;
        line-height: 28px;
    }
    .contact-host{
        margin: 40px 0;
    }
}