@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/* custom property */
:root {
  --united-nations-blue: hsl(214, 56%, 58%);
  --bright-navy-blue: hsl(214, 57%, 51%);
  --spanish-gray: #999999;
  --black-coral: hsl(225, 8%, 42%);
  --oxford-blue: hsl(208, 97%, 12%);
  --yale-blue: hsl(214, 72%, 33%);
  --blue-ncs: hsl(197, 100%, 36%);
  --gunmetal: #223544;
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);

  /* font */
  --ff-Montserrat: "Montserrat", sans-serif;

  --fs-1: calc(20px + 3.5vw);
  --fs-2: calc(18px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  /* transition */
  --transition: 0.25s ease-in-out;

  /* spacing */
  --section-padding: 60px;

  /* border-radius */
  --radius-15: 15px;
  --radius-25: 25px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
label,
button,
ion-icon {
  display: block;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: var(--ff-Montserrat);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body {
  background: var(--white);
  font-family: var(--ff-Montserrat);
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
}

#nav-bar {
  z-index: 10000;
}

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/
i.fa.fa-arrow-up {
  position: fixed;
  bottom: 20px;
  right: 25px;
  background-color: #3b79c9;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  z-index: 10000;
}

.container {
  padding-inline: 15px;
}

.btn {
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--fs-5);
  border-radius: 100px;
  padding: var(--padding, 8px 18px);
  border: var(--border-width, 2px) solid transparent;
  transition: var(--transition);
}

.btn-primary {
  background: var(--bright-navy-blue);
  border-color: var(--bright-navy-blue);
}

.btn-primary:is(:hover, :focus) {
  background: var(--yale-blue);
  border-color: var(--yale-blue);
}


.h1,
.h2,
.h3 {
  font-weight: var(--fw-800);
  font-family: var(--ff-montserrat);
  text-transform: uppercase;
}

.h1 {
  color: var(--white);
  font-size: var(--fs-1);
}

.h2,
.h3 {
  color: var(--gunmetal);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}

.section-subtitle {
  color: var(--bright-navy-blue);
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-family: var(--ff-montserrat);
  margin-bottom: 8px;
}

.section-title {
  margin-bottom: 15px;
}

.section-text {
  color: var(--black-coral);
  margin-bottom: 30px;
}

.card-text {
  color: var(--black-coral);
  font-size: var(--fs-5);
}

.feedback-text {
  color: var(--black-coral);
  font-size: var(--fs-5);
  text-align: justify;
}


/* ============================== */
.popular {
  padding-block: var(--section-padding);
}

.popular-list {
  padding: 10px 0px;
}

.swiper.mySwiper {
  padding: 20px 0px;
}

.swiper-wrapper {
  margin-bottom: 30px;
}

.popular-list,
.popular-list>li:not(:last-child) {
  margin-bottom: 30px;
}

.popular-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-25);
  height: 450px;
}

.popular-card .card-img {
  height: 100%;
}

.popular-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-card .card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: var(--white);
  border-radius: var(--radius-25);
  padding: 20px;
}

.popular-card .card-rating {
  background-color: var(--bright-navy-blue);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 1px;
  transform: translateY(-50%);
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.popular-card .card-subtitle {
  color: var(--bright-navy-blue);
  font-size: var(--fs-6);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.popular-card .card-title {
  margin-bottom: 5px;
}

.popular-card :is(.card-subtitle, .card-title)>a {
  color: inherit;
}

.popular .btn {
  margin-inline: auto;
}

/* ====================Community */
.community {
  padding-block: var(--section-padding);
}

.community .container {
  display: grid;
  gap: 1.5rem;
  row-gap: 2.5rem;
}

.community .section-content .btn {
  margin-inline: auto;
}

.about__img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.about__img-overlay {
  overflow: hidden;
}

.about__img-one {
  width: 130px;
}

.about__img-two {
  width: 180px;
}

.about__img-one,
.about__img-two {
  transition: .3s;
}

.about__img-one:hover,
.about__img-two:hover {
  transform: scale(1.1);
}


/* ============Feedback=========== */
.feedback {
  position: relative;
  padding-block: var(--section-padding);
}

.feedback .background-feedback {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.15;
}

.feedback .background-feedback img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback-list,
.feedback-list>li:not(:last-child) {
  margin-bottom: 30px;
}

.feedback-card .person-name {
  color: var(--bright-navy-blue);
  font-size: var(--fs-6);
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 16px;
  text-align: center;
}

.feedback-card :is(.person-name)>a {
  color: inherit;
}

.feedback-card .feedback-text {
  margin-bottom: 16px;
  text-align: center;
  padding: 0px 8px;
}

.feedback-card .btn {
  margin-inline: auto;
}

.feedback-card img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-inline: auto;
}

/* Mission */

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(65, 65, 65, 0.627)), url("../img/mission2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: var(--section-padding);
  background-attachment: fixed;
}

.banner .section-content {
  border-radius: var(--radius-25);
  background-color: rgba(255, 255, 255, 0.571);
  padding: 35px 20px;
}

.banner #underline {
  background-color: var(--bright-navy-blue);
  width: 80px;
  height: 6px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.banner .section-content .section-text {
  text-align: justify;
  color: rgba(35, 35, 35, 0.745);
}

/* slides-per-view="auto"  */

@media(min-width: 580px) {

  /* reuse */
  .container {
    max-width: 580px;
    margin-inline: auto;
  }

  .btn {
    --fs-5: 16px;
    --padding: 12px 30px;
  }

  section:not(.cta) :is(.section-subtitle, .section-title, .section-text) {
    text-align: center;
  }

  .section-text {
    margin-bottom: 40px;
  }

  .card-text {
    --fs-5: 15px;
  }

  .feedback-text {
    --fs-5: 15px;
  }

  /* popular */
  .popular-card .card-content {
    right: auto;
  }

  /* community */
  .community .community-img-2 {
    height: 300px;
  }

  /* feedback */

  .feedback-card .feedback-text {
    padding: 0px 100px;
  }

  .feedback-card .btn {
    --fs-5: 12px;
    --padding: 8px 20px;
  }

  /* Mission */
  #underline {
    margin-inline: auto;
  }

  .banner .section-content {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }


}

@media(min-width: 768px) {

  /* custom property */
  :root {
    /* typhography */
    --fs-5: 15px;

  }

  /* reused */
  .container {
    max-width: 800px;
  }

  .section-text:not(.banner .section-text) {
    max-width: 60ch;
    margin-inline: auto;
  }

  .popular-list {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px; */
    margin-bottom: 50px;
  }

  .popular-list>li:not(:last-child) {
    margin-bottom: 0;
  }

  .popular-card .card-content {
    right: 20px;
  }

  /* community */
  .community .container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .community .section-content .section-subtitle,
  .community .section-content .section-title,
  .community .section-content .section-text {
    text-align: left;
  }

  .community .section-content .section-title {
    font-size: var(--fs-3);
  }

  /* feedback */
  .feedback-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
  }

  .feedback .section-title {
    margin-bottom: 50px;
  }

  .feedback-list>li:not(:last-child) {
    margin-bottom: 0;
  }

  .feedback-card .feedback-text {
    padding: 0 50px;
  }

  /* mission */
}

@media (min-width: 992px) {

  /* reused */
  .container {
    max-width: 1050px;
  }

  /* popular */
  .popular-card:hover {
    transition: 0.5s ease-in-out;
    transform: translateY(-10px);
  }

  /* .popular-list {
    grid-template-columns: repeat(3, 1fr);
  } */

  /* community */
  .community .section-content .section-title {
    font-size: 32px;
  }


  /* feedback */
  .feedback-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .feedback-card {
    margin-right: 15%;
  }

  .feedback-card .feedback-text {
    padding: 0px 0px;
  }

  .community .container .section-content .btn {
    margin-inline: unset;
  }

  /* mission */
  .banner .section-content {
    width: 70%;
    margin-inline: auto;

  }

  .banner .section-content .section-text {
    margin-inline: auto;
    width: 80%;
  }

}

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 100px;

  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1180px;
  }

}