@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --blue: #1E90FF;
  --light-blue: #e8ebf3;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;

}

.section__container {
  max-width: 1200px;
  ;
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.section__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: hsl(206, 34%, 20%);
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: 1rem;
  color: #0d213f;
  max-width: calc(1200px / 2);
  text-align: justify;
}

.btn1 {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #ffffff;
  background-color: #3685fb;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn1:hover {
  background-color: #2f73d9;
}

img {
  width: 100%;
  display: block;
}

.gallary__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.image__gallary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.gallary__col {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.gallary__col img {
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.gallary__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallary__content>div {
  max-width: 400px;
}

.gallary__content .section__subtitle {
  margin-bottom: 2rem;
}


.sec-02 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 2.4rem;
  margin-top: 100px;
  padding: 100px;
  padding-top: 20px;
}

.sec-02 .box-sales {
  padding: 20px;
  background: #fff;
  box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
  text-align: center;
  border-radius: 2rem;
}

.sec-02 .box-sales:hover {
  background: #3b79c9;
  color: azure;
  transition: 0.4s all linear;
}

.sec-02 .box-sales .bx {
  padding: 10px;
  border-radius: 50%;
  background: #f6f6fe;
  color: #3b79c9;
  font-size: 20px;
}

.sec-02 .box-sales h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  margin: 1rem 0 0.4rem;
  color: #0b0b0b;
  font-weight: bolder;
}

.sec-02 .box-sales p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.938rem;
  color: #0b0b0b;

}


.sec-03 .title-boxcontainer {
  padding-top: 20px;
  color: hsl(206, 34%, 20%);
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#underline {
  background-color: hsl(214, 57%, 51%);
  width: 80px;
  height: 6px;
  margin-top: -40px;
  margin-bottom: 0px;
  margin-inline: auto;
}



#heart:hover {
  fill: red;
  transition: fill 0.2s ease-in-out;
}


.sec-03 .box-container .box p {
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem;
  line-height: 2;
}

.sec-03 .box-container {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: .1rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;

  background: #fff;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-gap: 36px;
  margin-top: 50px;
  padding-bottom: 70px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}



.sec-03 .box-container .box .image-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 68%;
}

.sec-03 .box-container .box .image-container img {
  width: 295px;
  height: 224px;
  object-fit: cover;
  border-radius: 10px;
}



.sec-03 .box-container .box .image-container .info {
  position: absolute;
  top: 1rem;
  left: 0;
  display: flex;
}

.sec-03 .box-container .box .image-container .info h3 {
  font-size: 0.8rem;
  color: #fff;
  background: rgba(0, 0, 0, .3);
  border-radius: .5rem;
  padding: .2rem 0.3rem;
  margin-left: 1rem;
  font-weight: inherit;
}

.sec-03 .box-container .box .image-container .icons {
  position: absolute;
  bottom: 1rem;
  right: 0;
  display: flex;
}

.sec-03 .box-container .box .image-container .icons a {
  font-size: 0.8rem;
  color: #fff;
  display: flex;
  margin-right: 1rem;

}

.sec-03 .box-container .box .image-container .Tym {
  position: absolute;
  top: 1rem;
  right: 0;
  display: flex;
}

.sec-03 .box-container .box .image-container .icons a h3 {
  font-weight: 500;
  padding-left: .5rem;
}

.sec-03 .box-container .box .content s {

  padding: 1rem 0;
}

.sec-03 .box-container .box .content h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: #333;
  font-weight: bold;
}

.sec-03 .box-container .box .content i {
  color: #2a2929;
}

.sec-03 .box-container .box .content p {
  font-size: 0.8rem;
  color: #666;
  line-height: 0.9rem;
  padding: 0px 0px 0px 0px;
  font-family: 'Montserrat', sans-serif;
}

.sec-03 .box-container .box .content .location {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sec-03 .box-container .box .content #like {
  color: rgb(243, 5, 52);
  margin-left: 100px;
  margin-top: 7px;
}

.sec-03 .box-container .box .content .location span {
  color: rgb(40, 39, 39);
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}



@media (width < 700px) {

  .gallary__container {
    grid-template-columns: repeat(1, 1fr);
  }

}