/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  justify-content: center;
  align-items: center;
}
header .logo img{
  max-width: 160px;
}
/* header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Poppins';
} */
.toggle
{
  position: relative;
}
.toggle .login-btn {
    width: 130px;
    height: 40px;
    background: transparent;
    border: 2px solid;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    font-family: 'Lalezar', cursive;;
}
.toggle .login-btn:hover {
    background: #1e90ff;
    color: white;
}

.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  clip-path: circle(0% at 0 50%);
}
.showcase video.active{
  clip-path: circle(150% at 0 50%);
  transition: 1.3s ease;
  transition-property: clip-path;
}

.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( to right,rgba(0, 0, 0, 0.815), transparent);
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
  display: none;
}

.text.active.hidden{
  display: none;
}

.text.active{
  display: block;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'Lalezar', cursive;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'Lalezar', cursive;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  font-family: 'Montserrat', sans-serif;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: lighter;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

.slider-navigation{
  z-index: 888;
  position: absolute;
  bottom: 160px;
  left: 45%;
  display: flex; 
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn.active{
  background: #2696E9;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #ffffff9d;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255,255,255,0.5);
  transition: 0.3s ease;

}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

.wrapper {
  position: inherit;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255,255,255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease,height .2s ease;
  margin-left: 30%;
}

.wrapper.active {
  height: 520px;
}

.wrapper.active-popup{
  transform: scale(1) ;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper .icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #b0bfcea1;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2{
  font-size: 2em;
  text-align: center;
  color: #fff;
  font-family: 'Lalezar', cursive;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #b0bfcea1;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 400;
  pointer-events: none;
  color: #fff;
  font-family: 'Montserrat';
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
  color: #ffffffb2;
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight:400;
  padding: 0 35px 0 5px;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
  color: #1e90ff;
}

.remember-forgot {
  font-size: .9em;
  color: #ffffffb2;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #1e90ff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #ffffffb2;
  text-decoration: none;
}
.remember-forgot a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background: #1e90ff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  font-family: 'Lalezar', cursive;
}
.login-register{
  font-size: .9em;
  color: #ffffffb2;
  text-align: center;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: 25px 0 10px;
}

.login-register p a{
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
}
.login-register p a:hover{
  text-decoration: underline;
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
