.chat_wrapper {
    width: 100%;
    height: 100%;
    padding: 25px 0px 0px;
    position: relative;
    animation: fade-in .4s linear;
}

.chat_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 0px 0px 12px;
    & > section:first-child {
        display: flex;
        align-items: center;
        gap: 12px;

        & > div:first-child {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;

            & > img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: contain;
            }
        }

        & > div:last-child {
            text-align: start;

            & > h1 {
                font-size: 20px;
                margin-bottom: unset;
            }

            & > div {
                display: flex;
                align-items: center;
                gap: 6px;

                & > span {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: var(--bright-navy-blue);
                }
                
                & > h3 {
                    font-size: 16px;
                    margin-bottom: unset;
                    color: #777 ;
                }
            }
        }
    }
}

.chat_content {
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    & > div:first-child {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin: 24px auto;

        & > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: contain;
        }
    }

    & > div.chat_content_intro {
        text-align: center;
        & > h2 {
            font-size: 22px;
        }

        & > h4 {
            font-size: 18px;
        }
    }

    & > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 24px;

        & > li {
            background-color: var(--bright-navy-blue);
            padding: 6px 12px;
            border-radius: 24px;
            cursor: pointer;

            & > h4 {
                font-size: 18px;
                color: white;
                margin-bottom: unset;
            }
        }

        & > div:last-child > li {
            & + & {
                margin-top: 32px;
            }
        }
    }

    .chat_content_bot {
        width: 100%;
        display: flex;
        align-items: start;
        gap: 12px;
        margin-top: 48px;
        justify-content: flex-start;

        & > img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: contain;
        }

        & > h4 {
            max-width: 70%;
            white-space: pre-wrap;
            font-size: 18px;
            margin-bottom: unset;
            background-color: #ddd;
            padding: 6px 12px;
            border-radius: 24px;
            color: #333;
        }
    }

    .chat_content_user {
        width: 100%;
        display: flex;
        align-items: start;
        gap: 12px;
        margin-top: 48px;
        justify-content: flex-end;

        & > img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: contain;
        }

        & > h4 {
            max-width: 70%;
            white-space: pre-wrap;
            font-size: 18px;
            margin-bottom: unset;
            background-color: var(--bright-navy-blue);
            padding: 6px 12px;
            border-radius: 24px;
            color: white;
        }
    }
}

.chat_footer {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    bottom: 2%;
    left: 0;
    right: 0;

    & > section:first-child {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    & > section:first-child {
        & > i {
            font-size: 22px;
        }
    }

    & > section:last-child {
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.15);
        flex: 1;
        border-radius: 24px;
        padding: 8px 24px;

        & > input {
            outline: none;
        }

        & > i {
            color: var(--bright-navy-blue);
        }
    }
}