/* Header on mobile */
.header-mobile {
    background-color: var(--white);
    display: none;
    height: 60px;
    border-bottom: 1px solid #ddd;
    padding: 12px;
    align-items: center;
    justify-content: space-between;
}

.header-mobile-logo {
    height: 100%;
    width: fit-content;
    cursor: pointer;

    & > img {
        height: 100%;
    }
}

.header-mobile-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* Header */
.header {
    background-color: var(--white);
    height: 77px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.header_logo {
    padding: 12px 0;
    text-align: start;
    height: 100%;
    width: 20%;
    cursor: pointer;

    & > img {
        height: 100%;
        width: auto;
        object-fit: contain;
    }
}

.header_nav {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;

    & > li {
        padding: 0px 12px;
        list-style: none;
        height: 100%;
        display: grid;
        place-items: center;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        transition: all .2s linear;
    }

    & > .nav_active {
        border-bottom-color: #1E90FF;
    }
}

.header_profile {
    position: relative;
    width: 20%;
    height: 100%;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;

    &::after {
        content: "";
        position: absolute;
        height: 60%;
        width: 1px;
        background-color: #ddd;
        left: 0;
    }
}

.header_profile-user {
    display: flex;
    align-items: center;
    width: fit-content;

    & > section:first-child {
        padding: 12px 40px 12px 16px;
        background-color: #C0E0FF;
        height: fit-content;
        width: fit-content;
        border-radius: 24px;

        & > h6 {
            margin-bottom: unset;
            color: #223544;
            font-weight: var(--fw-700);
        }
    }

    & > section:last-child {
        display: flex;  
        align-items: center;
        transform: translateX(-50%);
        width: 60px;
        height: 60px;
        background-color: var(--white);
        padding: 4px;
        border-radius: 50%;
        overflow: hidden;

        & > img {
            width: 100%;
            border-radius: 50%;
            height: 100%;
            object-fit: cover;
        }
    }
}


/* Tablet */
@media (min-width: 577px) and (max-width: 992px) {
    
    .header {
        padding: 0 24px;
    }

    .header_logo {
        height: 85%;
    }

    .header_nav {
        width: 60%;
        gap: 2rem;
        justify-content: center;

        & > li {
            border-bottom-width: 2px;
            
            & > img {
                width: 25px;
                height: 25px;
            }
        }
    }

    .header_profile {
        width: 20%;

        & > div:first-child > img {
            width: 25px;
            height: 25px;
        }
    }

    .header_profile-user {
        & > section:first-child {
            display: none;
        }

        & > section:last-child {
            transform: unset;
        }

        & > section:last-child {
            & > img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

/* Mobile */
@media (min-width: 0px) and (max-width: 576px) {
    .header-mobile {
        display: flex;
    }

    .header {
        padding: 0 24px;
        height: 50px;
    }
    
    .header_logo {
        display: none;
    }

    .header_nav {
        width: 100%;
        gap: 1rem;
        justify-content: space-between;

        & > li {
            border-bottom-width: 2px;
            
            & > img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .header_profile {
        display: none;
    }
}