.posts {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: overlay;
    padding-top: 25px;
    animation: fade-in .4s linear;

    &::-webkit-scrollbar {
        display: none;
        visibility: hidden;
    }
}

.posts_create {
    padding: 28px;
    background-color: var(--white);
    width: 100%;
    border-radius: 16px;

    & > section:first-child {
        display: flex;
        align-items: center;
        gap: 24px;
        padding-bottom: 28px;
        border-bottom: 1px solid #ddd;

        & > img {
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            object-fit: cover;
            border-radius: 50%;
        }

        & > input {
            background-color: #F3F5F7;
            padding: 10px 24px;
            outline: none;
            border-radius: 24px;
            border: 1px solid var(--united-nations-blue);
        }
    }

    & > section:last-child {
        display: flex;
        justify-content: space-evenly;
        padding-top: 24px;

        & > div {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
}

.posts_list {
    width: 100%;
    padding-left: unset;
    margin-top: 24px;
}
.posts_list_item {
    width: 100%;
    background-color: var(--white);
    border-radius: 16px;
    padding: 28px;
}

.posts_list_item + .posts_list_item {
    margin-top: 24px;
}

.posts_list_item_head {
    & > div {
        display: flex;
        align-items: center;
        height: 60px;

        & > div {
            width: 68px;
            height: 68px;
            border-radius: 50%;
            background-color: var(--white);
            padding: 4px;
            z-index: 1;

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        & > article {
            background-color: #F3F3F4;
            border-radius: 24px;
            padding: 0 24px 0 60px;
            height: 100%;
            margin-left: -48px;
            display: grid;
            place-items: center;

            & > h4 {
                font-size: 20px;
                font-weight: var(--fw-600);
                margin-bottom: unset;
            }

            & > small {
                width: 100%;
            }
        }
    }
}

.posts_list_item_caption {
    margin-top: 24px;
    & > p {
        font-size: 20px;
    }

}

.posts_list_item_pictures {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Chia layout thành 2 cột bằng nhau */
    grid-template-rows: 60% 40%; /* Chia layout thành 2 hàng với tỉ lệ 60% và 40% */
    grid-gap: 10px; /* Khoảng cách giữa các phần tử */

    & > li {
        overflow: hidden;
        border-radius: 24px;
    }
    
    & > li > img {
        width: 100%;
        transition: all .2s linear;
        height: 100%;
        object-fit: cover;
        cursor: pointer;

        &:hover {
            scale: 1.05;
        }
    }

  }
  
  .posts_list_item_pictures li:nth-child(1) {
    grid-column: 1 / 2; 
    grid-row: 1 / 3;
  }
  
  .posts_list_item_pictures li:nth-child(2) {
    grid-column: 2 / 3; 
    grid-row: 1 / 2; 
  }
  
  .posts_list_item_pictures li:nth-child(3) {
    grid-column: 2 / 3; 
    grid-row: 2 / 3; 
  }

  .posts_list_item_actions {
      padding: 0px 24px 24px;
      border-bottom: 1px solid #ddd;

    & > div {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
    
        & > div {
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }

    & > article {
        display: flex;
        gap: 6px;
        margin-top: 6px;
    }
  }

.posts_list_item_comments {
    margin-top: 24px;

    & > li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        & > div {
            display: flex;
            align-items: start;
            gap: 12px;

            & > img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            & > article {
                & > div:first-child {
                    background-color: #F5F5F5;
                    padding: 12px 24px;
                    border-radius: 24px;
    
                    & > h5 {
                        font-size: 18px;
                        font-weight: var(--fw-600);
                    }

                    & > small {
                        font-size: 18px;
                    }
                }

                & > div:last-child {
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 24px;
                    font-size: var(--fs-5);
                }
            }
        }            

        & > img {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }

        & + & {
            margin-top: 12px;
        }
    }
}

@media (min-width: 0px) and (max-width: 992px) {
    .posts_create {
        padding: 12px;

        & > section:first-child {
            & > img {
                width: 50px;
                height: 50px;
            }

            & > input {
                font-size: var(--fs-4);
            }
        }

        & > section:last-child {
            & > div {
                align-items: end;
            }
            & img {
                width: 20px;
                height: 20px;
                object-fit: contain;
            }

            & span {
                font-size: var(--fs-6);
            }
        }
    }

    .posts_list_item {
        padding: 12px;
    }

    .posts_list_item_head {
        & > div {
            height: 40px;

            & > div {
                height: 40px;
                width: 40px;
            }

            & > article {
                margin-left: -40px;
                padding-left: 50px;

                & > h4 {
                    font-size: var(--fs-5);
                }

                & > small {
                    font-size: var(--fs-6);
                }
            }
        }
    }

    .posts_list_item_caption {
        & > p {
            font-size: var(--fs-5);
        }
    }

    .posts_list_item_actions {
        padding: 0px 0px 24px;

        & img {
            width: 20px;
            height: 20px;
        }

        & > article {
            font-size: var(--fs-5);
        }
    }

    .posts_list_item_comments {
        & > li {
            & > div {
                & > img {
                    width: 30px;
                    height: 30px;
                }

                & > article {
                    & > div:first-child {
                        padding: 6px 12px;
                        
                        & > h5 {
                            font-size: 14px;
                            margin-bottom: unset;
                        }
                        
                        & > small {
                            font-size: var(--fs-6);
                        }
                    }

                    & > div:last-child {
                        font-size: var(--fs-7);
                        padding: 12px;
                    }
                }
            }
            & > img {
                width: 20px;
                height: 20px;
            }
        }
        
    }
}