.sidebar_right {
    width: 100%;
    height: 100%;
}

.sidebar_right_friends_req {
    width: 100%;
    background-color: var(--white);
    border-radius: 29px;
    padding: 24px;
}

.sidebar_right_friends_req_head {
    display: flex;
    justify-content: space-between;
    align-items: start;

    &>h4 {
        position: relative;
        color: #223544;
        font-size: 20px;
        font-weight: var(--fw-700);
        padding: 0 0 6px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60%;
            height: 2px;
            background-color: var(--united-nations-blue);
        }
    }

    &>a {
        font-size: var(--fs-5);
    }
}

.sidebar_right_friends_req_item {
    display: flex;
    align-items: start;
    width: 100%;
    gap: 6px;
    margin-top: 12px;

    &>img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    &>div {
        flex: 1;

        &>article {

            &>div {
                display: flex;
                justify-content: space-between;

                &>h6 {
                    font-weight: var(--fw-700);
                    margin-bottom: unset;
                }
            }
        }

        &>div {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
            gap: 10px;

            &>button {
                border-radius: 100px;
                padding: 0 12px;
                width: 50%;
                font-size: var(--fs-5);

                &:last-child {
                    background-color: #E3E7EB;
                }
            }
        }
    }
}

.sidebar_right_friends_online {
    padding: 24px;
    background-color: var(--white);
    margin-top: 24px;
    border-radius: 29px;
    height: fit-content;

    &>ul {
        padding-left: unset;
        margin-top: 12px;
        overflow-y: overlay;
        height: 300px;

        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #bdbdbdcf;
            border-radius: 32px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        &>li {
            display: flex;
            align-items: center;
            gap: 6px;
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }

            &+& {
                margin-top: 16px;
            }

            &>img {
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 50%;
            }

            &>figcaption {
                &>h6 {
                    margin: unset;
                    font-weight: var(--fw-500);
                }

                &>article {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    &>small {
                        font-weight: 300;
                    }

                    &>i {
                        font-size: 12px;
                        color: #1E90FF;
                    }
                }
            }
        }
    }
}



@media (min-width: 577px) and (max-width: 992px) {
    .sidebar_right>.sidebar_right_friends_req {
        padding: 12px;

        &>.sidebar_right_friends_req_head {
            &>h4 {
                font-size: var(--fs-5);
            }

            &>a {
                font-size: var(--fs-7);
            }
        }

        &>.sidebar_right_friends_req_item {
            &>img {
                width: 30px;
                height: 30px;
            }

            &>div {
                font-size: var(--fs-5);

                &>article h6 {
                    font-size: var(--fs-5);
                    margin-bottom: unset;
                }
            }
        }
    }

    .sidebar_right_friends_online {
        &>article {

            &>h4 {
                font-size: var(--fs-5);
            }

            &>a {
                font-size: var(--fs-7);
            }
        }

        &>ul {
            &>li {
                &>img {
                    width: 30px;
                    height: 30px;
                }

                &>figcaption {

                    &>h6 {
                        font-size: var(--fs-5);
                    }

                    &>article {

                        &>i {
                            font-size: 8px;
                        }

                        font-size: var(--fs-7);
                    }
                }
            }
        }

    }

}